/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #C6C4C6;
   --cor-de-link: #000;
   --cor-fundo-secundario: #E1AFD1;
   --cor-botao: #AD88C6;
   --cor-skiil-hobb: #ffffff;



   /* cor dos icones skils e hobbie #7469B6   */
}


}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 154px;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: flex-start;
    font-family:"Raleway",sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
} 

.menu header{
    display: flex;
    align-items: center;
    gap: 32px;
    font-family:"Raleway",sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.menu__list{
    display: flex;
    gap: 32px;
}


/* Sessão Title */

section.title{
    padding: 32px;
    display:flex;
    
}

div.title__div{
    display:flex;
    /*align-items:self-end;*/
    justify-content: space-around;
    flex-direction: row-reverse;
    gap:17;
}

div.title__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    
}
.title__bio{
    margin: 24px;
    font-family:"Raleway",sans-serif;
    font-size: 54px;
    font-weight: 700;
    font-style: normal; 
    
}
.title__subsection{
    margin: 24px;
    font-family:"Raleway",sans-serif;
    font-size: 22px; 
    font-weight: 400;
    font-style: normal;
}    

.title__network{
    margin: 24px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family:"Raleway",sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style:normal;
}
/*Sessão About*/

section.about{
    background-color: var(--cor-fundo-secundario);
    
}

div.about__container{
    margin:0;
    padding: 64px;


}

h3.about__title{
    margin-top: 10px;
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style:normal;
}
p.about__paragraph{
    font-family:"Raleway",sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style:normal;
}

/* sessão skills*/

section.skills{
    box-sizing: border-box;
    background-color: var(--cor-skiil-hobb);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h3.skills__title{
    margin-top: 10px;
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style:normal;
}

div.skills__line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    font-family:"Raleway",sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style:normal;
}

h3.skills__title{
    margin: 32px;
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style:normal;
}

div.skills__box{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h3.hobbies__title{
    margin-top: 10px;
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style:normal;
}

div.hobbies__line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
    font-family:"Raleway",sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style:normal;
}


div.hobbies__box{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.hobbies__img,
.skills__img{
    display: flex;
    justify-content: center;

}

.hobbies__name,
.skills__name{
    display: flex;
    justify-content: center;
}


/* Experiência Acadêmica*/

section.academic{
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-fundo-secundario);


}
h2.academic__title{
    display: flex;
    justify-content: center;
    font-family:"Raleway",sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style:normal;
}
div.academic__courses{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.academic__courses__item__title{
    font-family:"Raleway",sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style:normal;
}

.academic__courses__item__subtitle{
    font-family:"Raleway",sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style:normal;
}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
/* @media (min-width: 768px) {

/Menu 

title

Skills

Hobbies

xperiências acadêmicas

Expeirência profissional

} */

/*Mobile*/
/* @media (min-width: 425px) { */

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/* Skills

Hobbies
 
Formação Acadêmica

Experiência Profissional

Contato

Footer

}  */